@import "../lib/kiscss/theme.css";

// Display the grid with colors
.flex.demo > div {
  > span,
  > div {
    display: block;
    padding: 0.3rem 0.3rem;
    background: rgba(var(--green), 0.6);
    text-align: center;
  }
}

.flex.demo > div:nth-child(2n) {
  > span,
  > div {
    background: rgba(var(--aqua), 0.6);
  }
}
