@import "../lib/kiscss/theme.css";

/* // Display the grid with colors */
.flex.demo > div {
  > span,
  > div {
    display: block;
    padding: 0.3rem 0.3rem;
    background: var(--green);
    text-align: center;
  }
}

.flex.demo > div:nth-child(2n) {
  > span,
  > div {
    background: var(--aqua);
  }
}
